* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}
p {
    font-size: 16px;
    line-height: 24px;
}
 // website font sizes

 h1{
    margin-bottom: 15px;
    font-size: 38px;
}
 h2{
    margin-bottom: 15px;
    font-size: 32px;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.container{
    max-width: 1000px;
    margin: auto;
}
section {
    margin: 100px 0; 
}
.text-centre{
    text-align: center;
    margin: auto;
    max-width: 680px;
}
.flex {
    display: flex;
&.flex-wrap{
    flex-wrap: wrap;
}
&.flex-center {
    align-items: center;
    justify-content: center;
}
}

.gap-30{
    gap: 30px;
}
.br-10{
    border-radius: 10px;
}
img{
    max-width: 100%;
    object-fit: cover;
}

//   Hero css
.hero{
    position: relative;
    height: 65vh;
    overflow: hidden;
&-content{
    max-width: 400px;
    position: absolute;
    right: 100px;
    top: 50%;
    transform: translateY(-50%);

h1,p {
    text-shadow: 4px 4px 7px #4e4e4e;
    color: white;
}
}
}

// special dishes 
.special-dishes{
    &-content{
        max-width: 680px;
        margin: auto;
    }
 &-list{
    margin-top: 80px;
        li{
            width: 22%;
        }
    }
    
}

//filtered dishes
.filtered-dishes{
    ul{
        display: flex;
        flex-wrap: wrap;
        margin-top: 30px;
        li{
            background-color: #ffb902;
            color: white;
            padding: 12px;
            border-radius: 30px;
            margin-right: 20px;
            margin-bottom: 20px;
            font-weight: bold;
            cursor: pointer;
            transition: all ease 0.3s;
            &.active{
                background-color: black;
            }
            &:hover{
                background-color: black;
            }
        }
    }
 }
.filtered-dishes-results{
    margin-top: 60px;
    
    h5{
        margin-top: 18px;
    }
    li{
        width: 22%;
    }
}

.alert{
    border: 2px solid #ff4848;
    border-radius: 10px;
    height: 20vh;
    width: 100% ;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h3{
        color: red;
        margin: 0 0 10px 0;
    }
}

// pagination
.pagination {
    justify-content: center;
    margin: 50px 0 0;
    li {
        background-color:aquamarine;
        // width: 30px;
        // height: 30px;
        border: 1px solid gray;
        margin: 0 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        padding: 8px;
        transition: all ease 0.3s;
        &:hover{
            background-color: #ffb902;
            border-color: #ffb902;
        }
    }
}